@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400&display=swap");
.vertical-slide-yes {
  opacity: 0;
  -webkit-transform: translate3d(0, 75px, 0);
          transform: translate3d(0, 75px, 0);
  will-change: transform, opacity;
  -webkit-transition: all 1s cubic-bezier(0.03, 0.6, 0.33, 0.96);
  transition: all 1s cubic-bezier(0.03, 0.6, 0.33, 0.96);
}

.vertical-slide-yes.is-visible {
  opacity: 1;
  -webkit-transform: translate3d(0, 1px, 0);
          transform: translate3d(0, 1px, 0);
}

.horizontal-slide-yes {
  -webkit-transition: all 1.2s cubic-bezier(0.03, 0.6, 0.33, 0.96);
  transition: all 1.2s cubic-bezier(0.03, 0.6, 0.33, 0.96);
}

.horizontal-slide-yes.from-left {
  margin-left: -100%;
}

.horizontal-slide-yes.from-right {
  margin-right: -100%;
}

.horizontal-slide-yes.is-visible.from-left {
  margin-left: 0;
}

.horizontal-slide-yes.is-visible.from-right {
  margin-right: 0;
}

.animated-laptop-man {
  position: relative;
  text-align: center;
}

.laptop-man {
  width: 70vw;
}

@media (min-width: 768px) {
  .laptop-man {
    width: 50vw;
  }
}

@media (min-width: 812px) {
  .laptop-man {
    width: 30vw;
  }
}

@media (min-width: 1024px) {
  .laptop-man {
    width: 40vw;
  }
}

@media (min-width: 1280px) {
  .laptop-man {
    width: 30vw;
  }
}

.heart-animation {
  position: absolute;
  top: 13vh;
  left: 7.5vw;
  -webkit-animation: animate 1s linear infinite;
          animation: animate 1s linear infinite;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.laptop-animation {
  position: absolute;
  top: 10vh;
  right: 5vw;
  border-radius: 50%;
  -webkit-perspective: 800px;
          perspective: 800px;
  -webkit-animation: animate 1s linear infinite;
          animation: animate 1s linear infinite;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@media (min-width: 812px) {
  .animated-boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 812px) {
  .animated-boxes__small {
    width: calc(50% - 30px);
  }
}

.animated-boxes__small .animated-box__image {
  height: 550px;
  overflow: hidden;
}

@media (min-width: 812px) {
  .animated-boxes__large {
    width: calc(50% - 30px);
  }
}

.animated-boxes__large .animated-box__image {
  height: 450px;
  overflow: hidden;
}

@media (min-width: 812px) {
  .animated-boxes__large .animated-box__image {
    height: 920px;
    margin-bottom: 0;
  }
}

.animated-box {
  display: block;
  position: relative;
  margin: 0 0 30px;
}

.animated-box img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.animated-box:hover img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: -webkit-transform .8s;
  transition: -webkit-transform .8s;
  transition: transform .8s;
  transition: transform .8s, -webkit-transform .8s;
}

.animated-box__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 2rem;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.2);
}

.animated-box__text h4 {
  font-size: 2.5rem;
  font-weight: 400;
}

.animated-box__text p {
  font-size: 1.4rem;
  font-weight: 400;
}

.animated-box__image {
  height: 100%;
}

.animated-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform .8s;
  transition: -webkit-transform .8s;
  transition: transform .8s;
  transition: transform .8s, -webkit-transform .8s;
}

.primary-button, .secondary-button {
  display: inline-block;
  min-width: 23px;
  padding: 10px 20px;
  text-align: center;
  white-space: nowrap;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background: #d81377;
  cursor: pointer;
}

.primary-button:hover, .secondary-button:hover {
  background: #db2682;
  color: #ffffff;
}

.secondary-button {
  border: 1px solid #ffffff;
  background: 0;
}

.secondary-button:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.2;
  scroll-behavior: smooth;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  z-index: 1;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 15px;
  font-family: "Work Sans", sans-serif;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1em;
}

p {
  margin-bottom: 15px;
}

p:last-of-type {
  margin-bottom: unset;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style-type: none;
}

.entry-footer {
  display: none;
}

.container {
  width: calc(100% - 30px);
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1280px) {
  .container {
    width: calc(100% - 60px);
  }
}

.subtitle {
  margin-bottom: 1rem;
  color: #d81377;
  font-weight: 700;
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
}

.vertical-single {
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (min-width: 1024px) {
  .vertical-single {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.vertical-double {
  margin-top: 60px;
  margin-bottom: 60px;
}

@media (min-width: 1024px) {
  .vertical-double {
    margin-top: 120px;
    margin-bottom: 120px;
  }
}

.padding-yes {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.icon-leaf:after {
  display: block;
  content: '\f18c';
  margin-bottom: 5px;
  font-size: 50px;
  font-family: fontawesome;
}

.icon-feather:after {
  display: block;
  content: '\f56b';
  margin-bottom: 5px;
  font-size: 40px;
  font-family: fontawesome;
}

.icon-triangle:after {
  display: block;
  content: '\f542';
  margin-bottom: 10px;
  font-size: 35px;
  font-family: fontawesome;
}

.icon-single-leaf:after {
  display: block;
  content: '\f06c';
  margin-bottom: 5px;
  font-size: 35px;
  font-family: fontawesome;
}

.icon-spa:after {
  display: block;
  content: '\f5bb';
  margin-bottom: 5px;
  font-size: 45px;
  font-family: fontawesome;
}

.short-block {
  max-width: 450px;
}

.link-underline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.link-underline:hover:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #ffffff;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.home .hero-block--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

@media (min-width: 1280px) {
  .home .hero-block--wrapper {
    min-height: unset;
    height: 100vh;
  }
}

.home .hero-block__heading:before {
  content: '';
  display: block;
  display: block;
  width: 220px;
  height: 220px;
  margin: 0 auto 30px;
  background: url(https://www.phoenixroadcreative.com/wp-content/uploads/2022/03/prc_logo_white.png) no-repeat;
  background-size: contain;
}

.home .two-column-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

@media (min-width: 1280px) {
  .home .two-column-block {
    min-height: unset;
    height: 100vh;
  }
}

.home .two-column-block .column__heading {
  color: #ffffff;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .home .two-column-block .column__heading {
    font-size: 60px;
  }
}

@media (min-width: 812px) {
  .home .two-column-block .column__heading {
    font-size: 50px;
  }
}

@media (min-width: 1280px) {
  .home .two-column-block .column__heading {
    font-size: 60px;
  }
}

.home .two-column-block .column__description {
  color: #ffffff;
}

.home .two-column-block .column.border-yes {
  -webkit-box-shadow: 0 2px 8px #111111;
          box-shadow: 0 2px 8px #111111;
}

.home .two-column-block a {
  font-weight: bold;
}

.home .two-column-block--wrapper .two-column-block .column {
  width: 100%;
  background-size: contain;
}

.home .logo-gallery--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.home .logo-gallery__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home .logo-gallery__image {
  width: 25%;
  margin: 0 15px;
}

.home .logo-gallery__image img {
  width: 100%;
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}

.site-footer {
  width: calc(100% - 30px);
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}

@media (min-width: 1280px) {
  .site-footer {
    width: calc(100% - 60px);
  }
}

@media (min-width: 768px) {
  .site-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.site-footer--wrapper {
  padding: 3rem 0;
  background: #111111;
}

.site-footer__column {
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .site-footer__column {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.site-footer__column:first-of-type {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.site-footer h5 {
  font-size: 1.15rem;
  font-weight: bold;
  color: #d81377;
}

.site-footer p {
  margin-bottom: 15px;
  font-size: 1rem;
  line-height: normal;
  color: #ffffff;
}

.site-footer a {
  display: block;
  margin-right: 20px;
  color: #ffffff;
  font-size: inherit;
  cursor: pointer;
}

.site-footer .follow a {
  display: inline;
}

.site-footer span {
  font-weight: bold;
}

.site-footer .fab {
  padding-right: 10px;
}

.footer-acknowledgments {
  width: calc(100% - 30px);
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 1280px) {
  .footer-acknowledgments {
    width: calc(100% - 60px);
  }
}

.footer-acknowledgments img {
  width: 50%;
  max-width: 130px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 1.5rem;
}

form.wpcf7-form input,
form.wpcf7-form textarea {
  margin-bottom: 16px;
  padding: 15px 10px;
  border: 0;
  border: 1px solid #111111;
  font-family: 'Work Sans', sans-serif;
  background: 0;
}

::-webkit-input-placeholder {
  color: #111111;
  font-size: 1rem;
}

:-ms-input-placeholder {
  color: #111111;
  font-size: 1rem;
}

::-ms-input-placeholder {
  color: #111111;
  font-size: 1rem;
}

::placeholder {
  color: #111111;
  font-size: 1rem;
}

form.wpcf7-form textarea {
  border: 1px solid #111111;
  border-radius: 15px;
  font-size: 1rem;
}

.wpcf7-form .wpcf7-form-control {
  width: 100%;
  margin: 0;
  padding: 15px 10px;
  text-align: left;
}

form.wpcf7-form .primary-button {
  background: #d81377;
  border: 0;
}

@media (min-width: 768px) {
  form.wpcf7-form .primary-button {
    border: 0;
    color: white;
    text-align: center;
  }
}

.wpcf7 form.sent .wpcf7-response-output {
  color: #1370d8;
  border-color: #1370d8;
}

.mc4wp-checkbox.mc4wp-checkbox-contact-form-7 span {
  padding-left: 15px;
  color: #000000 !important;
}

.page-id-2195 .two-column-block.gutter-no-gutter .column {
  background-size: 80%;
}

@media (min-width: 768px) {
  .page-id-2195 .two-column-block.gutter-no-gutter .column {
    background-position: right;
  }
}

.wp-block-search__label {
  display: none;
}

.wp-block-search {
  margin-top: 64px;
}

@media (min-width: 768px) {
  .wp-block-search {
    max-width: 92%;
  }
}

.wp-block-search__input {
  border: 0;
}

.wp-block-search * {
  color: #ffffff;
}

.page-template-default:not(.home) {
  padding-top: 80px;
}

.page-id-1504 {
  background: #371a6c;
  color: #ffffff;
}

.page-id-1504 .post-feed__blocks {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .page-id-1504 .post-feed__block {
    margin-bottom: 0;
  }
}

.page-id-1504 .post-feed__block:nth-child(n) {
  background: #d81377;
}

.page-id-1504 .post-feed__block:nth-child(2n) {
  background: #1370d8;
}

.page-id-1504 .post-feed__block:nth-child(3n) {
  background: #70d870;
}

.page-id-1504 .post-feed__image {
  margin-bottom: unset;
}

.page-id-1504 .post-feed__copy {
  padding: 15px;
}

.page-id-2195 {
  background: #1370d8;
}

.single .post-thumbnail {
  display: block;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.single .post-thumbnail img {
  width: 100%;
  height: auto;
}

.single .entry-title {
  margin-top: 64px;
  margin-bottom: 3rem;
  font-size: 2.8rem;
}

@media (min-width: 812px) {
  .single .entry-title {
    font-size: 3.2rem;
  }
}

.single .entry-meta {
  margin-bottom: 3rem;
  color: #d81377;
  font-weight: 100;
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
}

.single .entry-meta a {
  font-weight: 900;
  color: #d81377;
}

.single .entry-meta .updated {
  display: none;
}

.single article,
.single .post-navigation {
  width: calc(100% - 30px);
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1280px) {
  .single article,
  .single .post-navigation {
    width: calc(100% - 60px);
  }
}

.single .screen-reader-text,
.single .nav-subtitle {
  display: none;
}

.single .post-navigation {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.single .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.single .nav-previous .nav-title {
  color: #d81377;
}

.single .nav-previous .nav-title:before {
  content: '\f0a5';
  margin-right: 10px;
  font-family: fontawesome;
}

.single .nav-previous .nav-title:hover {
  color: #ffffff;
}

.single .nav-next .nav-title {
  color: #d81377;
}

.single .nav-next .nav-title:after {
  content: '\f0a4';
  margin-left: 10px;
  font-family: fontawesome;
}

.single .nav-next .nav-title:hover {
  color: #ffffff;
}

.page .post-thumbnail {
  display: none;
}

.single-post .site-main * {
  color: #111111;
}

.single-post h2 {
  margin: 30px 0;
  font-size: 2.4rem;
  line-height: normal;
}

.single-post h4 {
  font-size: 1.4rem;
}

.single-post p {
  margin: 0 0 30px;
  line-height: 2;
  font-size: 1.2rem;
}

.single-post ul li {
  list-style-type: disc;
  list-style-position: inside;
}

.single-post .entry-title {
  max-width: 1000px;
  margin: 0 auto 1rem;
  font-size: 2.8rem;
  line-height: 1.2;
}

.single-post .entry-meta {
  max-width: 1000px;
  margin: auto;
}

.single-post .post-thumbnail {
  max-width: 1000px;
  max-height: unset;
  margin: 60px auto;
}

.single-post .entry-content {
  max-width: 1000px;
  margin: auto;
  line-height: 2;
  font-size: 1.2rem;
}

.single-post .entry-content a {
  color: #d81377;
}

.single-post .primary-button {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.single-post .primary-button a {
  color: #ffffff;
}

.single-post .wp-block-group {
  margin-bottom: 60px;
}

.single-post .one-column-block--wrapper {
  padding: 0;
}

.single-post .image-block--wrapper {
  padding: 1.5rem;
}

.single-post .wp-block-image img {
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.single-post .wp-block-media-text__media img {
  height: auto;
}

.single-post .nav-links {
  display: none;
}

.case-study {
  display: none;
}

.single-case-study .custom-page-heading--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: unset;
  margin-top: 4rem;
}

.single-case-study .custom-page-heading__title {
  font-size: 2rem;
}

@media (min-width: 812px) {
  .single-case-study .custom-page-heading__title {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  .single-case-study .custom-page-heading__title {
    font-size: 4rem;
  }
}

.single-case-study .two-column-block {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.single-case-study .two-column-block .column {
  background-size: 80%;
  background-position: center;
}

.single-case-study .one-column-block--wrapper {
  padding: 0;
}

.single-case-study .case-study {
  display: block;
  margin-top: 3rem;
}

.single-case-study .post-thumbnail {
  display: none;
}

.post-template-default .yarpp-related {
  margin: 2em 0;
  padding-top: 2em;
  border-top: 2px solid #272727;
}

@media (min-width: 768px) {
  .post-template-default .yarpp-thumbnails-horizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.post-template-default .yarpp-thumbnails-horizontal .yarpp-thumbnail {
  width: 100%;
  height: unset;
  border: unset;
}

@media (min-width: 768px) {
  .post-template-default .yarpp-thumbnails-horizontal .yarpp-thumbnail {
    width: 48%;
  }
}

.post-template-default .yarpp-thumbnails-horizontal .yarpp-thumbnail img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 15px;
}

.post-template-default .yarpp-thumbnails-horizontal .yarpp-thumbnail-title {
  width: 100%;
}

.page-id-519 .vertical-sliding-two-column-block--wrapper {
  padding: 3.5rem 0;
}

.page-id-519 .vertical-sliding-two-column-block--wrapper:first-of-type {
  padding-top: 5rem;
}

.fancy-link {
  border-bottom: 2px solid #d81377;
}

.new-blog-heading {
  font-size: 1.4rem;
  color: #111111 !important;
}

@media (min-width: 768px) {
  .new-blog-heading {
    font-size: 2.6rem;
  }
}

.new-blog-heading:last-of-type {
  margin-top: 30px;
}

.entry-meta .category {
  display: none;
}

.site-header--wrapper {
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
}

.site-header--wrapper.scrolled {
  -webkit-box-shadow: 0px 2px 2px #cccccc;
          box-shadow: 0px 2px 2px #cccccc;
  background: black;
}

.site-header--wrapper.scrolled a {
  color: #ffffff;
}

.site-header--wrapper.scrolled .custom-logo-link img {
  display: none;
}

.site-header--wrapper.scrolled .custom-logo-link:after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: url("https://www.phoenixroadcreative.com/wp-content/uploads/2022/02/prc_logo_white.png") no-repeat;
  background-size: contain;
}

.site-header {
  width: calc(100% - 30px);
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1280px) {
  .site-header {
    width: calc(100% - 60px);
  }
}

.site-title a {
  color: #ffffff;
}

.site-branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.custom-logo-link img {
  width: 80px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 10px 0 0;
}

.menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 9999;
  border: 0;
  font-size: 0;
  background: 0;
}

@media (min-width: 1024px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:after {
  content: '\f0c9';
  font-family: fontawesome;
  font-size: 30px;
  color: #ffffff;
}

.menu-toggle[aria-expanded="true"]:after {
  content: '\f00d';
}

#primary-menu {
  position: absolute;
  top: 0;
  right: -100%;
  z-index: 9;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  padding: 120px 60px 30px;
  background: #111111;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
}

@media (min-width: 1024px) {
  #primary-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: static;
    height: auto;
    padding: unset;
    background: unset;
  }
}

#primary-menu .menu-item {
  margin-bottom: 90px;
  color: #ffffff;
  font-weight: bold;
  font-size: 21px;
  text-transform: uppercase;
  list-style-type: none;
}

@media (min-width: 1024px) {
  #primary-menu .menu-item {
    margin-bottom: unset;
    margin-left: 60px;
    font-size: 16px;
  }
}

#primary-menu .menu-item:hover {
  color: white;
}

#primary-menu .sub-menu {
  margin: 30px 0 0 60px;
}

.main-navigation.toggled #primary-menu {
  right: 0;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
}

.bx-wrapper {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  border: unset;
  background: unset;
}

.bx-wrapper img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.bx-controls {
  z-index: 2;
}

.slide {
  height: 600px;
}

.slide__content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(0, 0, 0, 0.2);
}

.slide__content * {
  color: #ffffff;
}

.featured-post {
  width: calc(100% - 30px);
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1280px) {
  .featured-post {
    width: calc(100% - 60px);
  }
}

@media (min-width: 768px) {
  .featured-post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) {
  .featured-post__image {
    width: 50%;
  }
}

.featured-post__image img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .featured-post__image img {
    margin-bottom: unset;
  }
}

@media (min-width: 812px) {
  .featured-post__image img {
    height: 450px;
  }
}

@media (min-width: 1280px) {
  .featured-post__image img {
    height: 600px;
  }
}

@media (min-width: 768px) {
  .featured-post__content {
    width: 50%;
    margin-left: 60px;
  }
}

.featured-post__content h2 {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid #d81377;
  color: #d81377;
}

@media (min-width: 1280px) {
  .featured-post__content h2 {
    margin-bottom: 60px;
  }
}

.featured-post__content h4 {
  font-size: 1.6rem;
  font-weight: 600;
}

.featured-post__content p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.featured-post__content .primary-button {
  width: 200px;
  margin-top: 60px;
}

.hero-block--wrapper .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.hero-block--wrapper .image-overlay--no {
  display: none;
}

.hero-block--wrapper .hero-block__heading {
  text-transform: uppercase;
  font-size: 35px;
  text-align: center;
}

@media (min-width: 768px) {
  .hero-block--wrapper .hero-block__heading {
    font-size: 60px;
  }
}

@media (min-width: 1024px) {
  .hero-block--wrapper .hero-block__heading {
    font-size: 100px;
  }
}

.hero-block--wrapper .hero-block-image,
.hero-block--wrapper .hero-block-video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-block {
  position: relative;
}

.image-block__link {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.image-block.align-full-width img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-block.align-center {
  width: calc(100% - 30px);
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1280px) {
  .image-block.align-center {
    width: calc(100% - 60px);
  }
}

.image-block.align-center img {
  width: 100%;
  height: auto;
  max-height: 675px;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo-gallery.grid {
  width: calc(100% - 30px);
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1280px) {
  .logo-gallery.grid {
    width: calc(100% - 60px);
  }
}

.logo-gallery.grid .logo-gallery__header {
  margin-bottom: 30px;
  text-align: center;
}

.logo-gallery.grid .logo-gallery__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo-gallery.grid .logo-gallery__image {
  width: 30%;
  text-align: center;
}

@media (min-width: 812px) {
  .logo-gallery.grid .logo-gallery__image {
    width: 25%;
  }
}

.logo-gallery.grid .logo-gallery__image img {
  height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 60px;
}

.logo-gallery.vertical-sliding {
  width: calc(100% - 30px);
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1280px) {
  .logo-gallery.vertical-sliding {
    width: calc(100% - 60px);
  }
}

@media (min-width: 1024px) {
  .logo-gallery.vertical-sliding {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.logo-gallery.vertical-sliding .logo-gallery__header {
  margin-bottom: 30px;
  text-align: center;
}

@media (min-width: 1024px) {
  .logo-gallery.vertical-sliding .logo-gallery__header {
    width: 25%;
    margin-bottom: unset;
  }
}

.logo-gallery.vertical-sliding .logo-gallery__header h2 {
  margin-bottom: unset;
  font-size: 1.6rem;
}

.logo-gallery.vertical-sliding .logo-gallery__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.logo-gallery.vertical-sliding .logo-gallery__image {
  margin: 0 30px 30px;
}

@media (min-width: 1280px) {
  .logo-gallery.vertical-sliding .logo-gallery__image {
    margin: 0 45px;
  }
}

.logo-gallery.vertical-sliding .logo-gallery__image img {
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

.one-column-block {
  width: calc(100% - 30px);
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1280px) {
  .one-column-block {
    width: calc(100% - 60px);
  }
}

.one-column-block.width-small {
  max-width: 900px;
}

.one-column-block__heading {
  margin-bottom: 15px;
  color: #ffffff;
}

@media (min-width: 812px) {
  .one-column-block__heading {
    margin-bottom: 30px;
  }
}

.one-column-block__heading.alignment-center {
  text-align: center;
}

.one-column-block__heading.alignment-right {
  text-align: right;
}

.one-column-block__description {
  margin-top: 90px;
  margin-bottom: 90px;
}

.one-column-block__description * {
  line-height: 1.5;
}

.one-column-block__description h3 {
  font-size: 1.6rem;
}

.one-column-block__description ul li {
  list-style-type: disc !important;
}

.one-column-block__button {
  margin-top: 30px;
}

.one-column-block__button.alignment-center {
  text-align: center;
}

.one-column-block .icon-leaf.alignment-center, .one-column-block .icon-feather.alignment-center, .one-column-block .icon-triangle.alignment-center, .one-column-block .icon-square.alignment-center, .one-column-block .icon-spa.alignment-center {
  text-align: center;
}

.one-column-block .icon-leaf:after, .one-column-block .icon-feather:after, .one-column-block .icon-triangle:after, .one-column-block .icon-square:after, .one-column-block .icon-spa:after {
  font-size: 30px;
}

.post-feed--wrapper.three-column .single-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 812px) {
  .post-feed--wrapper.three-column .post-feed__block {
    width: 32%;
    max-width: unset;
  }
}

@media (min-width: 1024px) {
  .post-feed--wrapper.three-column .post-feed__image {
    min-height: 500px;
  }
}

.post-feed--wrapper.three-column .post-feed__category {
  font-size: 1.2rem;
}

.post-feed--wrapper.three-column .post-feed__date {
  font-size: 1.2rem;
}

.post-feed--wrapper.three-column ul.cutoff-three li:nth-child(n+4) {
  display: none;
}

.post-feed--wrapper.three-column ul.cutoff-six li:nth-child(n+7) {
  display: none;
}

.post-feed--wrapper.three-column ul.cutoff-nine li:nth-child(n+10) {
  display: none;
}

.post-feed--wrapper {
  padding: 60px 0;
}

.post-feed--wrapper .single-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading {
  margin-bottom: 2rem;
}

.heading h2 {
  font-size: 3rem;
}

@media (min-width: 812px) {
  .heading h2 {
    font-size: 4rem;
  }
}

.post-feed {
  width: calc(100% - 30px);
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1280px) {
  .post-feed {
    width: calc(100% - 60px);
  }
}

@media (min-width: 812px) {
  .post-feed__blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.post-feed__block {
  margin-bottom: 60px;
}

@media (min-width: 812px) {
  .post-feed__block {
    width: 47.5%;
  }
}

.post-feed__block:nth-of-type(odd) {
  margin-top: 5rem;
}

.post-feed__image {
  margin-bottom: 3rem;
}

.post-feed__image img {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 1024px) {
  .post-feed__image img {
    min-height: 600px;
  }
}

.post-feed__copy h4 {
  margin-bottom: 1rem;
  font-family: "Work Sans", sans-serif;
}

.post-feed__copy p {
  font-size: 1.6rem;
}

.post-feed a {
  display: block;
}

.post-feed ul.cutoff-two li:nth-child(n+3) {
  display: none;
}

.post-feed ul.cutoff-four li:nth-child(n+5) {
  display: none;
}

.post-feed ul.cutoff-six li:nth-child(n+7) {
  display: none;
}

.post-grid--wrapper {
  padding: 60px 0;
}

.post-grid--wrapper .single-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading {
  margin-bottom: 2rem;
}

.heading h2 {
  font-size: 3rem;
}

@media (min-width: 812px) {
  .heading h2 {
    font-size: 4rem;
  }
}

.post-grid {
  width: calc(100% - 30px);
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

@media (min-width: 1280px) {
  .post-grid {
    width: calc(100% - 60px);
  }
}

.post-grid__item {
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .post-grid__item {
    width: 47.5%;
  }
}

@media (min-width: 1024px) {
  .post-grid__item {
    width: 32%;
  }
}

.post-grid__item img {
  display: block;
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 15px;
}

.post-grid__item h3 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-family: "Work Sans", sans-serif;
}

.post-grid__item p {
  font-size: 1.6rem;
}

.post-grid__author, .post-grid__categories {
  display: none;
}

.post-grid a {
  display: block;
}

.post-grid ul.cutoff-two li:nth-child(n+3) {
  display: none;
}

.post-grid ul.cutoff-four li:nth-child(n+5) {
  display: none;
}

.post-grid ul.cutoff-six li:nth-child(n+7) {
  display: none;
}

.shortcode-block--wrapper {
  padding-right: 15px;
  padding-left: 15px;
}

.shortcode-block--wrapper.alignment-centered {
  width: calc(100% - 30px);
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1280px) {
  .shortcode-block--wrapper.alignment-centered {
    width: calc(100% - 60px);
  }
}

.shortcode-block__heading {
  margin-bottom: 30px;
  text-align: center;
}

.shortcode-block__description {
  max-width: 800px;
  margin: 30px auto;
  text-align: center;
  font-size: 1.2rem;
}

.shortcode-block__shortcode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.single-button--wrapper {
  padding-right: 30px;
  padding-left: 30px;
}

.single-button__heading {
  margin-bottom: 30px;
}

.single-button.align-center {
  text-align: center;
}

.single-button.align-right {
  text-align: right;
}

@media (min-width: 768px) {
  .three-column-block--wrapper {
    padding: 30px 0;
  }
}

.three-column-block {
  width: calc(100% - 30px);
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1280px) {
  .three-column-block {
    width: calc(100% - 60px);
  }
}

@media (min-width: 768px) {
  .three-column-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.three-column-block .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 310px;
  margin: 15px;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .three-column-block .column {
    width: calc(33.33% - 15px);
  }
}

.three-column-block .column__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  background: rgba(0, 0, 0, 0.2);
}

.three-column-block .column__heading {
  font-size: 3rem;
}

.three-column-block .column__description {
  font-size: 2rem;
  line-height: 2rem;
}

.three-column-block .column__link a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.three-column-block .column__button {
  margin-top: 30px;
}

.three-column-block .column .align-center {
  width: 100%;
  text-align: center;
}

.three-column-block .column .hidden-button {
  display: none;
}

.stacked-three-column-block {
  width: calc(100% - 30px);
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@media (min-width: 1280px) {
  .stacked-three-column-block {
    width: calc(100% - 60px);
  }
}

@media (min-width: 768px) {
  .stacked-three-column-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.stacked-three-column-block .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: unset !important;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .stacked-three-column-block .column {
    width: calc(33.33% - 15px);
    margin-bottom: unset;
  }
}

.stacked-three-column-block .column__image {
  width: 100%;
  height: 300px;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .stacked-three-column-block .column__image {
    height: 250px;
  }
}

@media (min-width: 812px) {
  .stacked-three-column-block .column__image {
    height: 300px;
  }
}

@media (min-width: 1280px) {
  .stacked-three-column-block .column__image {
    height: 500px;
  }
}

.stacked-three-column-block .column__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.stacked-three-column-block .column__heading {
  margin-bottom: 5px;
  color: #d81377;
}

.stacked-three-column-block .column__heading.alignment-center {
  text-align: center;
}

.stacked-three-column-block .column__description {
  margin-bottom: 15px;
}

.stacked-three-column-block .column__description.alignment-center {
  text-align: center;
}

.stacked-three-column-block.image-shape-circle .column__image {
  width: 300px;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
  margin: 0 auto 15px;
  border-radius: 50%;
}

.stacked-three-column-block .primary-button, .stacked-three-column-block .secondary-button {
  margin-top: auto;
}

.stacked-three-column-block .primary-button.column__link, .stacked-three-column-block .secondary-button.column__link {
  display: none;
}

.stacked-three-column-block .hidden-button.column__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.two-column-block {
  width: calc(100% - 30px);
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

@media (min-width: 1280px) {
  .two-column-block {
    width: calc(100% - 60px);
  }
}

@media (min-width: 812px) {
  .two-column-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.two-column-block.image-shape-circle {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.two-column-block.image-shape-circle .column {
  max-width: 550px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 50%;
}

.two-column-block.order-column-two {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media (min-width: 812px) {
  .two-column-block.order-column-two {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.two-column-block.gutter-no-gutter .column {
  margin-bottom: unset;
  border-radius: 0;
}

@media (min-width: 812px) {
  .two-column-block.gutter-no-gutter .column {
    width: 50%;
    text-align: center;
  }
}

.two-column-block .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 350px;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) {
  .two-column-block .column {
    padding: unset;
    background-position: top;
  }
}

@media (min-width: 812px) {
  .two-column-block .column {
    width: calc(50% - 15px);
    min-height: 360px;
    margin-bottom: unset;
    padding: 30px;
    background-position: center;
  }
}

@media (min-width: 812px) {
  .two-column-block .column {
    min-height: 400px;
  }
}

@media (min-width: 1024px) {
  .two-column-block .column {
    min-height: 500px;
  }
}

@media (min-width: 1280px) {
  .two-column-block .column {
    min-height: 600px;
  }
}

.two-column-block .column__inner {
  width: 100%;
  padding: 15px;
}

.two-column-block .column__inner.align-left {
  text-align: left;
}

.two-column-block .column__heading {
  max-width: 600px;
  margin: 0 auto 30px;
}

.two-column-block .column__description {
  line-height: 1.6;
  font-size: 1.3rem;
}

.two-column-block .column__description ul, .two-column-block .column__description ul li {
  list-style-type: disc;
}

.two-column-block .column__description p, .two-column-block .column__description li {
  max-width: 500px;
  line-height: 1.6;
}

@media (min-width: 1280px) {
  .two-column-block .column__description p, .two-column-block .column__description li {
    font-size: 1.3rem;
  }
}

.two-column-block .column__link a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.two-column-block .column__video {
  width: 100%;
  padding: 60px 0;
  background: #000000;
}

.two-column-block .column__button {
  max-width: 600px;
  margin: 30px auto 0;
}

.two-column-block .column.border-yes {
  border: 2px solid #272727;
}

@media (min-width: 812px) {
  .two-column-block .column.gutter-no-gutter {
    width: 50%;
  }
}

.two-column-block .column .align-center {
  width: 100%;
  text-align: center;
}

.two-column-block .column .hidden-button {
  display: none;
}

.two-column-block .column .style-for-hidden a:hover {
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.two-column-block .primary-button.video {
  display: block;
  margin: auto;
}

.stacked-two-column-block--wrapper {
  padding: 30px 0;
}

.stacked-two-column-block {
  width: calc(100% - 30px);
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1280px) {
  .stacked-two-column-block {
    width: calc(100% - 60px);
  }
}

@media (min-width: 768px) {
  .stacked-two-column-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.stacked-two-column-block .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  min-height: unset !important;
}

@media (min-width: 768px) {
  .stacked-two-column-block .column {
    width: calc(50% - 15px);
  }
}

.stacked-two-column-block .column:first-of-type {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .stacked-two-column-block .column:first-of-type {
    margin-bottom: unset;
  }
}

.stacked-two-column-block .column__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.stacked-two-column-block .column__image {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (min-width: 812px) {
  .stacked-two-column-block .column__image {
    height: 450px;
  }
}

@media (min-width: 1280px) {
  .stacked-two-column-block .column__image {
    height: 600px;
  }
}

.stacked-two-column-block .column__heading {
  margin: 15px 0;
}

.stacked-two-column-block .column__content {
  width: 100%;
  font-size: 1.2rem;
}

.stacked-two-column-block .column .alignment-center {
  text-align: center;
}

.stacked-two-column-block .column iframe {
  width: 100%;
  height: 250px;
}

@media (min-width: 812px) {
  .stacked-two-column-block .column iframe {
    height: 450px;
  }
}

@media (min-width: 1280px) {
  .stacked-two-column-block .column iframe {
    height: 600px;
  }
}

.video-block {
  position: relative;
}

.video-block__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 68vh;
}

@media (min-width: 768px) {
  .video-block__text {
    height: 84vh;
  }
}

.video-block .primary-button, .video-block .secondary-button {
  margin-top: 15px;
}

.video-block__video video {
  height: 68vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

@media (min-width: 768px) {
  .video-block__video video {
    height: 84vh;
  }
}
/*# sourceMappingURL=main.css.map */