// Spacing
$max-width: 1120px;
$max-width-small: 640px;
$spacer: 32px; 

// Borders
$border-radius: 24px;

// Colors
$crimson: #7d2119;
$saffron: #c16524;
$cinder: #060102;
$brick: #3a150d;
$ember: #5d1b15;
$terracotta: #a54a30;
$white: #ffffff;

// Typography
$font-primary: "Ojuju", sans-serif;
$font-secondary: "Ojuju", sans-serif;

