// Spacing
$max-width: 1264px;
$max-width-small: 640px;
$spacer: 32px; 

// Borders
$border-radius: 24px;

// Colors
$gold: #F7E4A5;
$green: #122620;
$black: #010002;
$white: #ffffff;
$grey: #b3b3b3;


// Typography
$font-primary: "Forum", serif;
$font-secondary: "Forum", serif;

