// Spacing
$max-width: 1120px;
$max-width-small: 640px;
$spacer: 32px; 

// Borders
$border-radius: 24px;

// Colors
$crimson: #8f1b17;
$lava-glow: #f2b36b;
$cinder: #050202;
$brick: #3d160d;
$ember: #68171a;
$terracotta: #a13a1f;
$white: #ffffff;

// Typography
$font-primary: "Ojuju", sans-serif;
$font-secondary: "Ojuju", sans-serif;

