@use '../base/globals' as *;

.gallery-block {
  @include container;

  &__heading {
    margin-bottom: 24px;
    text-align: center;
  }

  &__description {
    max-width: 640px;
    margin: 0 auto $spacer;
  }

  &__images {
      column-count: 1;
      column-gap: .5em;

      @include respond-up(small){
        column-count: 2;
      }

      @include respond-up(medium) {
        column-count: 3;
      }

      @include respond-up(large) {
        column-count: 4;
      }
    }
  
    img {
      height: auto;
      max-width: 100%;
    }

  &__image {
    cursor: pointer;

    &:nth-child(n+21){
      display: none;
    }
  }
}