@use '../base/globals' as *;

.post-feed {
  @include container;
  max-width: $max-width;

  &__heading {
    @include container;
    @include flex-center;
    margin-bottom: 48px;
    text-align: center;
    text-transform: uppercase;

    span {
      margin-right: 8px;
      font-family: $font-secondary;
      text-transform: none;
      font-weight: 100;
      font-size: 48px;
    }
  }

  &__blocks {
    @include respond-up(small){
      @include flex-between;  
      flex-wrap: wrap;
    }
  }

  &__block {
    display: block;
    margin-bottom: $spacer;
    overflow: hidden;
    
    @include respond-up(small) {
      width: calc(50% - 16px);
    }

    @include respond-up(large) {
      width: calc(33.33% - 16px);
    }

    &:first-of-type {
      margin-top: -24px;
    }

    &:nth-of-type(even){
      margin-top: 80px;
    }
  }

  .no-content {
    pointer-events: none;
  }

  &__image {
    width: 100%;
    max-width: 272px;
    height: 264px;
    margin: auto;
    border-radius: 100%;
    overflow: hidden;
  
    @include respond-up(small){
      max-width: 240px;
      height: 240px;
    }

    @include respond-up(xlarge) {
      max-width: 300px;
      height: 300px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    margin-bottom: 0;
    padding-bottom: 16px;
    text-align: center;

    @include respond-up(small){
      margin-bottom: 64px;
    }

    p {
      margin-bottom: $spacer/2;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  &__title {
    margin: 24px 0 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-transform: uppercase;
    font-family: $font-secondary;
  }

  .cutoff--three {
    .load-items__item:nth-child(n+3) {
      @include respond-up(small){
        display: none;
      }

      @include respond-up(large) {
        display: block;
      }
    }

    .load-items__item:nth-child(n+4) {
      display: none;
    }
  }

  .cutoff--six {
    .load-items__item:nth-child(n+3) {
      @include respond-up(small) {
        display: none;
      }

      @include respond-up(large) {
        display: block;
      }
    }

    .load-items__item:nth-child(n+4) {
      display: block;
    }

    .load-items__item:nth-child(n+7) {
      display: none;
    }
  }

  .cutoff--nine {
    .load-items__item:nth-child(n+3) {
      @include respond-up(small) {
        display: none;
      }

      @include respond-up(large) {
        display: block;
      }
    }

    .load-items__item:nth-child(n+7) {
      display: block;
    }

    .load-items__item:nth-child(n+10) {
      display: none;
    }
  }
}

