@use '../base/globals' as *;


// reset browser defaults
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  z-index: 0;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  color: $white;
  font-size: 18px;
  line-height: 28px;
  font-weight: 100;
  font-family: $font-primary;
  scroll-behavior: smooth;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 24px;
  font-family: $font-secondary;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.04em;
  color: $lava-glow;

  @include respond-up(small){
    margin-bottom: 32px;
  }
}

h1 {
  margin-bottom: 32px;
  font-size: clamp(48px, 8vw, 112px);
  line-height: 1;
  color: #f2b36b;

  @include respond-up(small){
    margin-bottom: 40px;
  }
}

p {
  margin-bottom: $spacer/2;

  &:last-of-type {
    margin-bottom: unset;
  }
}
 
a {
  text-decoration: none;
  color: inherit;
  transition: color .2s ease-in-out;

  &:hover {
    color: $terracotta;
  }
}

li {
  list-style-type: none;
  list-style-position: inside;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}

img {
  max-width: 100%;
}

.entry-footer {
  display: none;
}

.container {
  @include container;
}

.show-on-mobile {
  @include respond-up(large){
    display: none;
  }
}

.comments-area {
  display: none;
}

.fa-hand-point-right:before {
  margin-right: 8px;
  font-family: fontawesome;
}

.linkedin:after {
  content: '\f0e1';
  font-family: fontawesome;
}

.instagram:after {
  content: '\f16d';
  font-family: fontawesome;
}

.facebook:after {
  content: '\f39e';
  font-family: fontawesome;
}

.pinterest:after {
  content: '\f231';
  font-family: fontawesome;
}

.email:after {
  content: '\f0e0';
  font-family: fontawesome;
}

.google:after {
  content: '\f1a0';
  font-family: fontawesome;
}

.twitter:after {
  content: '\f099';
  font-family: fontawesome;
}

.youtube:after {
  content: '\f167';
  font-family: fontawesome;
}