// stylelint-disable value-keyword-case
$font-primary__main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
// stylelint-enable value-keyword-case
$font-primary__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font-primary__pre: "Courier 10 Pitch", courier, monospace;
$font-primary__line-height-body: 1.5;
$font-primary__line-height-pre: 1.6;
